<!-- <div class="container"> -->
  <!-- <select name="revenue" id="compy">
    <option value="Top 5 revenue compaines"><a roterLink="/">Top 5 revenue compaines</a></option>
    <option value="Bottom 5 revenue compaines"><a roterLink="/bottom5">Bottom 5 revenue compaines</a></option>
    <option value="Top 10 revenue compaines">Top 10 revenue compaines</option>
    <option value="Bottom 10 revenue compaines">Bottom 10 revenue compaines</option>
  </select> -->
  <h2>Company Revenue Information</h2>
  <nav>
    <ul>
      <li style="background-color: cornflowerblue; width: 200px; color: white; border-color: black; border-radius: 5px;"><a style="color: white;" routerLink='/chartcomponent' routerLinkActive="active">Top 5 Revenue Companies</a></li> <br>
      <li style="background-color: burlywood; width: 200px; color: white; border-color: black; border-radius: 5px;"><a style="color: white;" routerLink='/chart1component' routerLinkActive="active">Top 10  Revenue Companies</a></li>
    </ul>
  </nav>
  <div>
  <router-outlet></router-outlet>
  </div>
<!-- </div> -->
